{% extends "base.html" %}

{% block container %}

<div class="search-form">
    <form>
        <input type="text" name="q" placeholder="输入关键词">
        <button type="submit">搜索</button>
    </form>
</div>
<div class="words-3500">
    {% for title, content in items %}
    <div>
        <h2>{{title}}</h2>
        <ul>
            {% for item in content %}
            <li><a href="/query?word={{item}}">{{item}}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>

{% endblock %}