{% extends "base.html" %}

{% block container %}
<style>
    form {
        margin-bottom: 50px;
    }
</style>
<form method="POST">
    <div class="form-group">
        <input type="hidden" name="task" value="next-saying">
    </div>
    <button type="submit" class="btn-primary">更换每日一言</button>
</form>
<form method="POST">
    <div class="form-group">
        <input type="hidden" name="task" value="edit-saying">
        <input type="text" name="hitokoto" placeholder="hitokoto">
        <input type="text" name="from_who" placeholder="from_who">
        <input type="text" name="from" placeholder="from">
    </div>
    <button type="submit" class="btn-primary">编辑每日一言</button>
</form>
<form method="POST" action="/mod-pwd">
    <div class="form-group">
        <input type="number" name="target" placeholder="目标学号">
        <input type="text" name="new" placeholder="新密码">
    </div>
    <button type="submit" class="btn-primary">修改密码</button>
</form>
<form method="POST">
    <div class="form-group">
        <input type="hidden" name="task" value="mod-birthday">
        <input type="number" name="target" placeholder="目标学号">
        <input type="text" name="birthday" placeholder="生日">
    </div>
    <button type="submit" class="btn-primary">确定</button>
</form>
<form method="POST" >
    <div class="form-group">
        <input type="hidden" name="task" value="send-notice">
        <input type="number" name="target" placeholder="目标">
        <textarea rows="40" cols="100" name="html"></textarea>
    </div>
    <button type="submit" class="btn-primary">发送通知</button>
</form>
<h2>反馈: </h2>
<ul class="qnc-ul">
    {% for name, content in issues %}
    <li>{{name}}<br>{{content}}</li>
    {% endfor %}
</ul>
{% endblock %}