{% extends "base.html" %}

{% block container %}

{% if id %}
<h1>
    你好, 
    {% if admin %}
    <a href="/admin">{{name}}</a>
    {% else %}
    {{name}}
    {% endif %}
</h1>
<div><a href="/logout">登出</a></div>
<div class="row">
    <div class="col">
        <form action="/issue" method="POST">
            <div class="form-group">
                <label class="form-label" for="content">反馈:</label>
                <input class="form-control" type="text" name="content" id="content" placeholder="输入反馈">
            </div>
            <button class="btn btn-primary" type="submit">提交反馈</button>
        </form>
        <p>你今天还能输入{{5 - times}}条反馈</p>
        <h2>已发送的反馈</h2>
        <ul class="list-group">
            {% for issue in issues %}
            <li class="list-group-item">{{issue}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col">
        <form action="/mod-pwd" method="POST">
            <input type="hidden" name="target" value="{{id}}">
            <div class="form-group">
                <label class="form-label" for="old">旧密码:</label>
                <input class="form-control" type="password" name="old" id="old" placeholder="输入旧密码">
            </div>
            <div class="form-group">
                <label class="form-label" for="new">新密码:</label>
                <input class="form-control" type="password" name="new" id="new" placeholder="输入新密码">
            </div>
            <button class="btn btn-primary" type="submit">修改密码</button>
        </form>
    </div>
</div>
<h2>通知:</h2>
{% for notice in notices %}
<div class="card">
    <div class="card-body">{{notice|safe}}</div>
</div>
{% endfor %}
{% else %}
<form method="POST">
    <div class="form-group">
        <label class="form-label" for="id">ID:</label>
        <input class="form-control" type="number" name="id" id="id" placeholder="输入ID">
    </div>
    <div class="form-group">
        <label class="form-label" for="pwd">密码:</label>
        <input class="form-control" type="password" name="pwd" id="pwd" placeholder="输入密码">
    </div>
    <button class="btn btn-primary">登录</button>
</form>
{% endif %}
    
{% endblock %}