
{% extends "base.html" %}

{% block container %}
<form>
    <div class="form-group">
        <label class="form-label" for="word">{{prompt}}:</label>
        <input class="form-control" type="text" id="word" name="word" maxlength="{{maxlength}}" placeholder="输入{{prompt}}">
    </div>
    <div class="form-check"> 
        <input class="form-check-input" name="verbose" id="verbose" type="checkbox" value="yes">
        <label class="form-check-label" for="verbose">需要详细信息</label>
    </div>
    <button class="btn btn-primary" type="submit">确定</button>
</form>
<p style="text-align: center">觉得词典好用的话就给仓库<a href="#">https://github.com/zvms/zvms</a>点个Star吧QwQ</p>
{% endblock %}